<!DOCTYPE html>
<html>
<head>
  <title>Review Submitted</title>
</head>
<body>
  <h1>Review Submitted Successfully!</h1>

  <p>Thank you for leaving a review.</p>

  <a href="/home/<%= userId %>">Return to Home Page</a>
</body>
</html>
